<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/> -->
		<title>Website</title>
		<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700">
		<link rel="stylesheet" href="/Resp_CSS/Stylesheet_2_resp.css">
		<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	</head>
	<body>
		<header class="header">
			<span class="biggerFont"><b>BUSINESS</b></span><br/><b>FREE WEBSITE TEMPLATE</b><br>
			<span class="TFphoneNumber"><b>TOLL FREE: </b><b class="phoneNumber">08 324 552 409</b></span><br><br>
			<div class="toggle">
				<i class="fa fa-bars menu" aria-hidden="true"></i>
			</div>
			<h4 style="font-weight:normal" class="navBar">
				<nav>
					<a href="/">
						Home
					</a>
					<a href="/about">
						About Us
					</a>
					<a href="/services">
						Services
					</a>
					<a href="/schedules">
						Schedules
					</a>
					<a href="/contact">
						Contact
					</a>
				</nav>
			</h4>
		</header>
