<%- include("partials/header"); -%>

<div class="first partofFirst everythingUnderHeader stylingBackground" style= "color: white">
  <p style="font-size:2em">Contact</p>
  <p> <%= contactContent %> </p>
</div>

<%- include("partials/footer"); -%>
