<%- include("partials/header"); -%>

<div class="partofFirst everythingUnderHeader stylingBackground postsBackgroundColor">
  <span style="font-size:2em">Welcome to Business Theme</span><br/><br/>
  <img src="/Images/flower.jpg" alt="image not found" class="center" width="600"/>
  <p style="color:#F68702">Running a business is time-consuming, and at last count
  there were still only 24 hours in the day.</p>
  <p>Apportioning your time is
  important – otherwise your customer base goes elsewhere for their services, and
  all of your hard work is for nothing. One of the aspects of your business
  needing the most attention is arguably your website. And while having an online
  presence is absolutely essential, you may struggle in finding the right theme
  for your needs.</p>
  <p>Choosing a suitable theme for your business isn’t hard if you know what to look
  for. A solid bundled contact form plugin enables customers to make contact with
  you, and a means of displaying your business and location information
  prominently is also essential. If it ties in with your business’ approach, you
  may also want to assess a theme’s social media integration. Finally, layout
  design flexibility is a good idea if you envisage a website redesign in the
  future.</p>
</div>

<%- include("partials/footer"); -%>
