<%- include("partials/header"); -%>

<div class="everythingUnderHeader">
  <div class="first">
    <br/>
    <div class="partofFirst">
      <span class="beActive">BE ACTIVE</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <span class="coffee">with the best coffee</span>
      <p style=" color: white">Coffee is a brewed drink prepared from roasted coffee beans,
      which are the seeds of berries from the Coffea plant.The genus Coffea is native to
      tropical Africa and Madagascar, the Comoros, Mauritius, and Réunion in the Indian Ocean.</p>
      <p style=" color: white"><span style=" color: yellow">+</span>More</p>
      <br/>
    </div>
  </div>
  <div class="second">
    <div class="halfOne">
      <ul><span style="font-size:2em">Our Services</span>
        <li>Business-Plan Consulting</li>
        <li>Packing and Unpacking</li>
        <li>Business-Travel Management</li>
        <li>Carpet Dyeing</li>
        <li>Hospital-Bill Auditing</li>
        <li>Specialized Staffing</li>
        <li>Bookkeeping</li>
        <li>Computer Repair</li>
        <li>Referral Service</li>
        <li>Freight Brokerage</li><br/>
        <a href="https://www.google.com" class="btnlink">
          <button type="button" class="contentBtn">View all</button>
        </a>
      </ul>
      <br>
      <span style="font-size:2em">Testimonial</span><br/>
      Codecademy has nailed down the testimonials
      section of their website, which they call
      "Codecademy Stories." They've even included
      a few customer quotes
    </div>
    <div class="halfTwo">
      <br>
      <hr>
      <span style="font-size:2em">Welcome to Business Theme</span><br/><br/>
      <img src="/Images/flower.jpg" alt="image not found" width="200" class="flowerInline" align="left"/>
      <p style="color:#F68702">Running a business is time-consuming, and at last count there were
      still only 24 hours in the day.</p><p>Apportioning your time is important – otherwise your customer
      base goes elsewhere for their services, and all of your hard work is for nothing.
      One of the aspects of your business needing the most attention is</p><br/>
      <a href="/flowerpost" class="moreBtn">
        <button type="button" class="contentBtn">More...</button>
      </a>
      <br/><br/>
      <hr/>
      <div class="quarter1Two">
        <span style="font-size:2em">Our Standards</span><br/><br/>
        <img src="Images/fish1.jpg" alt="image not found" width="215"/>
        <p style="color:#F68702">Above all, Focus Lab values people. When push comes to shove,
        we make decisions in people's best interests</p>
        <ul>
          <li>Make it better</li>
          <li>Keep it real</li>
          <li>People over profits</li>
          <li>Keep it simple</li>
        </ul><br/>
        <a href="https://www.google.com" class="moreBtn">
        <button type="button" class="contentBtn">More...</button>
        </a>
        <br/><br/><br/><br/>
      </div>
      <div class="quarter2Two">
        <span style="font-size:2em">Our Solutions</span><br/><br/>
        <img src="Images/fish2.jpg" alt="image not found" width="215"/>
        <p style="color:#F68702">By applying best practice from the public and private sectors worldwide, and harnessing
        innovative technology and financial thinking</p><p>Citi delivers realistic and reliable solutions that enable
        cities to meet their infrastructure, social and economic challenges.</p><br/>
        <a href="https://www.google.com" class="moreBtn">
        <button type="button" class="contentBtn">More...</button>
        </a>
        <br/><br/><br/><br/>
      </div>
    </div>
  </div>
</div>

<%- include("partials/footer"); -%>
