<%- include("partials/header"); -%>



<div class="first partofFirst everythingUnderHeader stylingBackground" style="color: white">

  <p style="font-size:2em">Schedules</p>
  <p> <%= schedulesContent %> </p>

  <table class="center" cellpadding="10">
    <tr>
      <td><strong>City</strong></td>
      <td><strong>Date</strong></td>
    </tr>
    <tr>
      <td>Milan</td>
      <td>January 1-31</td>
    </tr>
    <tr>
      <td>NYC</td>
      <td>February 1-22</td>
    </tr>
    <tr>
      <td>Parrot Cay</td>
      <td>March 1-30</td>
    </tr>
    <tr>
      <td>Seattle, Washington</td>
      <td>April 1-25</td>
    </tr>
    <tr>
      <td>Vashon Island</td>
      <td>May 11-31</td>
    </tr>
  </table>

</div>
