<%- include("partials/header"); -%>

<div class="partofFirst everythingUnderHeader stylingBackground postsBackgroundColor">
  <ul><span style="font-size:2em">Our Services</span>
    <li>Business-Plan Consulting</li>
    <li>Packing and Unpacking</li>
    <li>Business-Travel Management</li>
    <li>Carpet Dyeing</li>
    <li>Hospital-Bill Auditing</li>
    <li>Specialized Staffing</li>
    <li>Bookkeeping</li>
    <li>Computer Repair</li>
    <li>Referral Service</li>
    <li>Freight Brokerage</li>
    <li>Personal Services</li>
    <li>Business Services</li>
    <li>Marketing and Sales</li>
    <li>Home Services</li>
    <li>Computers and Technology</li>
    <li>Children's Services</li>
    <li>Event Services</li>
  </ul>
</div>

<%- include("partials/footer"); -%>
