<%- include("partials/header"); -%>

<div class="first partofFirst everythingUnderHeader stylingBackground" style="color: white">

  <p style="font-size:2em">Services</p>
  <p> <%= servicesContent %> </p>

</div>
