<%- include("partials/header"); -%>

<div class="partofFirst everythingUnderHeader stylingBackground postsBackgroundColor">
  <span style="font-size:2em">Our Solutions</span><br/><br/>
  <img src="/Images/fish2.jpg" alt="image not found" class="center" width="600"/>

  <p style="color:#F68702">By applying best practice from the public and private sectors worldwide, and harnessing
  innovative technology and financial thinking</p>

  <p>Citi delivers realistic and reliable solutions that enable
  cities to meet their infrastructure, social and economic challenges.</p>

  <p>If sales are bad, don't push your sales people harder. Fix the mistake in
    marketing. The key to being your own consultant is to think like a
    physician, an engineer and a troubleshooter: If this is the symptom, then
    where's the problem? A business works like a set of gears, and all
    businesses operate more or less the same way. </p>
</div>

<%- include("partials/footer"); -%>
