<%- include("partials/header"); -%>

<div class="partofFirst everythingUnderHeader stylingBackground postsBackgroundColor">
  <span style="font-size:2em">Our Standards</span><br/><br/>
  <img src="Images/fish1.jpg" alt="image not found" width="600"/>
  <p style="color:#F68702">Above all, Focus Lab values people. When push comes to shove,
  we make decisions in people's best interests</p>
  <ul>
    <li>Make it better</li>
    <li>Keep it real</li>
    <li>People over profits</li>
    <li>Keep it simple</li>
  </ul>
  <p>For more than a century, voluntary consensus standardization and conformity
     assessment activities have been coalescing markets and saving money for
     organizations in both the private and public sectors.</p>

  <p>Behind the scenes, standards make everyday life work. They may establish
    size or shape or capacity of a product, process or system. They can specify
    performance of products or personnel. They also can define terms so that
    there is no misunderstanding among those using the standard. As examples,
    standards help ensure that a light bulb fits a socket, that you can take
    money out of any ATM in the world, and plugs for electrical appliances fit
    outlets.</p>

</div>

<%- include("partials/footer"); -%>
